@import "../../_globalColor";

.social-media-div {
  font-size: 2em;
}

.icon-button {
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-button svg {
  color: white;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  padding: 0.3rem;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.facebook svg {
  background-color: $faceBook;
}

.linkedin svg {
  background-color: $linkedin;
}

.github svg {
  background-color: $github;
}

.gitlab svg {
  background-color: $gitlab;
}

.google svg {
  background-color: $google;
}

.twitter svg {
  background-color: $twitter;
}

.medium svg {
  background-color: $medium;
}

.stack-overflow svg {
  background-color: $stackoverflow;
}

.kaggle svg {
  background-color: $kaggle;
}

.instagram svg {
  background-color: $instagram;
}

/* Hover Transition */
.twitter svg:hover,
.google svg:hover,
.gitlab svg:hover,
.github svg:hover,
.linkedin svg:hover,
.facebook svg:hover,
.instagram svg:hover,
.stack-overflow svg:hover,
.kaggle svg:hover,
.medium svg:hover {
  background-color: $textColor;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
